<div class="flex md:mt-0 mt-10">
  <div class="w-full">
    <p class="text-2xl font-light mt-3 mb-3">Question:</p>
    <%= f.hidden_field :question, class: "faq-question" %>
    <div class="bg-white" id="questionQuilljs" style="height: 10rem;">
      <%= raw(@faq.question) %>
    </div>
    <p class="text-2xl font-light mt-8 mb-3">Answer:</p>
    <%= f.hidden_field :answer, class: "faq-answer" %>
    <div class="bg-white" id="answerQuilljs" style="height: 12rem;">
      <%= raw(@faq.answer) %>
    </div>
  </div>
</div>

<%= content_for :end_page_scripts do %>
  <script>
    var questionQuilljs = new Quill('#questionQuilljs', {
      theme: 'snow'
    });

    var answerQuilljs = new Quill('#answerQuilljs', {
      theme: 'snow'
    });

    document.querySelector('form').onsubmit = function () {
      var question = document.querySelector('input[class=faq-question]');
      question.value = questionQuilljs.root.innerHTML

      var answer = document.querySelector('input[class=faq-answer]');
      answer.value = answerQuilljs.root.innerHTML
    };
  </script>
<% end %>
