<h2>Add Position</h2>
<%= simple_form_for @position, url: admin_positions_path do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :location %>
  <%= f.input :url %>
  <%= f.input :email %>
  <%= f.input :state, collection: Position.states.keys %>
  <%= f.submit "Create" %>
<% end %>