<% content_for :section_class, "xl:ml-80 ml-0 bg-custom-color3 md:h-screen h-full xl:px-16 xl:py-8 px-4 cool-transition" %>
<section class="<%= yield (:section_class) %>" id="dashboard-content">
  <%= render 'admin/shared/mobile_sidebar_non_index' %>
  <div class="w-full my-5">
    <label>
      <%= link_to "Jobs", admin_positions_path, class: "text-blue font-semibold" %>
      <span class="mx-1">/</span>
      <span>View Job</span>
    </label>
  </div>
  <div class="flex flex-wrap md:mt-5 md:mb-12 items-center">
    <div class="md:w-1/2 w-full">
      <h1 class="md:text-5xl text-xl"><%= @position.title %></h1>
    </div>

    <div class="md:w-1/2 w-full flex items-center justify-end">

      <%= link_to "Edit", edit_admin_position_path(@position), class:"capitalize bg-custom-color1 text-white px-6 py-2 rounded-full flex ml-4 items-center" %>
    </div>
  </div>

  <div class="flex md:mt-0 mt-10">
  <div class="w-full">

    <div class="w-full px-5 py-3 text-xl mb-2 focus:text-black">
      Title: <%= @position.title %>
    </div>
    <div class="w-full px-5 py-3 text-xl rounded-lg mb-2 focus:text-black">
      Content: <%= raw @position.content %>
    </div>
    <div class="w-full px-5 py-3 text-xl rounded-lg mb-5 focus:text-black">
      Location: <%= @position.location %>
    </div>
    <div class="w-full px-5 py-3 text-xl rounded-lg mb-5 focus:text-black">
      URL: <%= @position.url %>
    </div>
    <div class="w-full px-5 py-3 text-xl rounded-lg mb-5 focus:text-black">
      Email: <%= @position.email %>
    </div>
    <div class="w-full px-5 py-3 text-xl rounded-lg mb-5 focus:text-black">
      State: <%= @position.state %>
    </div>

  </div>
</div>