<div class="xl:hidden flex items-center">
  <%= render "admin/shared/mobile_sidebar_toggle_index" %>
  <div class="w-1/2 pt-4 flex justify-end">
    <button class="shadow-none outline-none border-none border-0 focus:outline-none focus:shadow-none">
      <%= image_pack_tag "dashboard/search.svg", width: "20" %>
    </button>
    <%= link_to new_admin_review_path, class: "capitalize bg-blue-light text-white p-2 rounded-full flex ml-4 items-center" do %>
      <%= image_pack_tag "dashboard/plus.svg", width: "15" %>
    <% end %>
  </div>
</div>
<div class="w-full">
  <div class="flex flex-wrap items-center md:py-16 py-4">
    <div class="md:w-1/2 w-full">
      <h1 class="md:text-5xl text-xl">Reviews</h1>
    </div>
    <div class="w-1/2 md:flex hidden items-center text-right justify-end">
      <button class="shadow-none outline-none border-none border-0 focus:outline-none focus:shadow-none">
        <%= image_pack_tag "dashboard/search.svg", width: "20" %>
      </button>
      <%= link_to new_admin_review_path, class: "capitalize bg-blue text-white px-4 py-2 rounded-full flex ml-4 items-center" do %>
        <span class="mr-3 md:inline hidden">Create New Review</span>
        <%= image_pack_tag "dashboard/plus.svg", width: "10" %>
      <% end %>
    </div>
  </div>
<!-- Tabs -->
  <div class="dashboard_righttop flex review_wrapper">
    <div class="dashboard_rightbot">
      <ul class="flex">
        <li><%= link_to "Reviews", admin_reviews_path, class: "active" %></li>
        <li><%= link_to "Review Sites", admin_review_sites_path %></li>
      </ul>
    </div>
  </div>
<!-- end Tabs -->
  <div>
    <table class="table-fixed lg:block hidden bg-white p-4 rounded-xl">
      <thead>
        <tr class="border-b border-gray border-solid">
          <th class="text-left px-2 align-middle">
            <input type="checkbox" />
          </th>
          <th class="align-middle text-left px-2 py-4 w-1/3 font-normal th-color ml-4">
            Review
          </th>
          <th class="align-middle text-left px-2 py-4 w-1/3 font-normal th-color">
            Reviewer
          </th>
          <th class="align-middle text-left px-2 py-4 w-1/5 font-normal th-color">
            Rating
          </th>
          <th class="align-middle text-left px-2 py-4 w-1/5 font-normal th-color">
            Source
          </th>
          <th class="align-middle text-left px-2 py-4 w-1/2 font-normal th-color">
            Actions
          </th>
        </tr>
      </thead>
      <tbody id="googleTableBody">
        <% @reviews.each do |review| %>
          <tr class="border-b border-gray border-solid">
            <td class="px-2 py-4 align-middle">
              <input type="checkbox" id="table-checkbox" />
            </td>
            <td class="px-2 py-4 align-middle font-medium">
              <%= review.content %>
            </td>
            <td class="px-2 py-4 align-middle font-light">
              <%= review.name %>
            </td>
            <td class="px-2 py-4 align-middle font-light">
              <%= review.rating %>
            </td>
            <td class="align-middle">
              <%= cl_image_tag review.review_site.logo.url %>
            </td>
            <td class="align-middle">
              <div class="flex flex-wrap items-center">
                <%= link_to "Edit", edit_admin_review_path(review),
                            class: "bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-blue text-blue py-1 px-4 rounded-full border border-solid cool-transition hover:bg-blue hover:text-white",
                            id: "google-table-edit" %>
                <%= link_to admin_review_path(review), method: :delete, data: { confirm: "Are you sure?" },
                                                       class: "bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none google-table-page-delete ml-4" do %>
                  <%= image_pack_tag "dashboard/table-action-2.png" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="py-2 px-2">
      <%= page_entries_info @reviews %>
    </div>
    <div class="lg:hidden flex flex-wrap my-6">
      <% @reviews.each do |review| %>
        <div class="w-full bg-white shadow-lg p-5 rounded-xl mb-4">
          <input type="checkbox" class="mb-3" />
          <p class="th-color truncate">
            Review:
            <span class="text-black font-semibold ml-3"
                ><%= review.content %></span
              >
          </p>
          <p class="th-color my-4 truncate">
            Reviewer:
            <span class="text-black font-light ml-3"><%= review.name %></span>
          </p>
          <p class="th-color my-4">
            Rating:
            <span class="text-black font-light ml-3"><%= review.rating %></span>
          </p>
          <p class="th-color my-4">
            Source:
            <span class="text-black font-light ml-3"><%= review.review_site.name %></span>
          </p>
          <div class="th-color my-4 flex items-center">
            <span class="mr-3">Actions:</span>
            <%= link_to "Edit", edit_admin_review_path(review), class: "bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-blue text-blue py-1 px-4 rounded-full border border-solid cool-transition hover:bg-blue hover:text-white", id: "google-table-edit-mobile" %>
            <%= link_to admin_review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class: "bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none ml-4", id: "google-table-page-delete-mobile" do %>
              <%= image_pack_tag "dashboard/table-action-2.png" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="py-3 px-2">
  <%= paginate @reviews %>
</div>


