<div class="card-custom-open-roles w-full md:w-1/1 lg:w-1/2 px-3 mb-6">
  <div class="card-custom-open-roles-inner">
    <div class="img-div flex items-center">
      <span class="rounded-full">
        <%= image_pack_tag "icons/custom/user-profile-icon.svg", class: "img-fluid object-contain" %>
      </span>
    </div>
    <div class="right-title-div">
      <h4><%= position.title %></h4>
      <div class="text-div">
        <p><%= truncate(strip_tags(position.content), length: 255) %></p>
      </div>
      <div class="bottom-or-div">
        <div class="bottom-or-left-div">
          <p>
            <span class="icon-span">
              <i class="bg-custom-icon map-pin-icon"></i>
            </span>
            <span class="txt"><%= position.location %></span>
          </p>
        </div>
        <div class="bottom-or-right-div">
          <%= link_to career_path(position), class: "btn-primary-link link link-read btn-primary-link-arrow" do %>
            Read More
            <span class="bg-custom-icon arrow-left-long-blue right-blue"></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>