<div class="main-middle-area main-height-between">    
  <section class="main-half-banner-our-team-section bg-none responsive-padding-top" id="main-banner-section">
    <div class="half-banner-our-team-div our-team-bg-01">

      <div class="content-banner-root">
        <div class="container px-4">
          <div class="row flex flex-wrap">
            <div class="w-full lg:w-1/2">
            
              <div class="content-banner">
                <div class="text-content">
                  <h4>JOIN OUR TEAM</h4>
                  <h1>We’re delightful.</h1>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="our-team-section">
    <div class="our-team-div team-pattern-div01">

      <div class="container px-4 mx-auto px-24-xs">
        <div class="our-team-root">

          <div class="center-container">
            <div class="flex flex-wrap">

              <div class="heading-div mx-auto mb-6 text-center">
                <h2>Join the Auto Approve team</h2>
              </div>

              <div class="center-text-div">
                <p>Based in Maple Grove, MN, Auto Approve was founded in 2016. We’re a nationwide auto loan refinance company, assisting vehicle owners by reducing their interest rates and payments. We work to connect customers with their best option possible from our national list of preferred lenders.</p>
                <p>Auto Approve is always looking for great talent to grow with us. This is a fast-paced environment, so we look for hard-working folks who are passionate, professional and self-motivated. Our team members are always up for a challenge, and we love that about them. We provide paid training and the tools and support you need to be successful. </p>
                <p>Auto Approve holds our employees to a high standard and seeks individuals who are able to represent the company with integrity.  Prospective employees must pass a complete pre-employment background check as part of the screening process.  Auto Approve is a drug-free workplace.</p>
                <p>Don’t see a position that’s right for you, but passionate about our mission? Submit your resume and we’ll keep you in mind for roles that come up in future.</p>
              </div>

            </div>
          </div>
        
        </div>
      </div>
    
    </div>
  </section>

  <section class="open-roles-section">
    <div class="container container-customize px-4 mx-auto px-24-xs">
      <div class="open-roles-div">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>Open Roles</h2>
        </div>

        <div class="flex flex-wrap -mx-3">

          <div class="card-custom-open-roles w-full md:w-1/1 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-open-roles-inner">
              <div class="img-div flex items-center">
                <span class="rounded-full">
                  <%= image_pack_tag "icons/custom/user-profile-icon.svg", class: "img-fluid object-contain" %>
                </span>
              </div>
              <div class="right-title-div">
                <h4>Account Director</h4>
                <div class="text-div">
                  <p>At vero eos et accusamus et iusto odio dignissi ducimus qui blanditiis tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                </div>
                <div class="bottom-or-div">
                  <div class="bottom-or-left-div">
                    <p> <span class="icon-span"> <i class="bg-custom-icon map-pin-icon"></i> </span> <span class="txt"> Brooklyn Center, MN </span></p>
                  </div>
                  <div class="bottom-or-right-div">
                    <a href="#" class="btn-primary-link link link-read btn-primary-link-arrow">Read More <span class="bg-custom-icon arrow-left-long-blue right-blue"></span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-open-roles w-full md:w-1/1 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-open-roles-inner">
              <div class="img-div flex items-center">
                <span class="rounded-full">
                  <%= image_pack_tag "icons/custom/user-profile-icon.svg", class: "img-fluid object-contain" %>
                </span>
              </div>
              <div class="right-title-div">
                <h4>Strategy Lead</h4>
                <div class="text-div">
                  <p>At vero eos et accusamus et iusto odio dignissi ducimus qui blanditiis tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                </div>
                <div class="bottom-or-div">
                  <div class="bottom-or-left-div">
                    <p> <span class="icon-span"> <i class="bg-custom-icon map-pin-icon"></i> </span> <span class="txt"> Brooklyn Center, MN </span></p>
                  </div>
                  <div class="bottom-or-right-div">
                    <a href="#" class="btn-primary-link link link-read btn-primary-link-arrow">Read More <span class="bg-custom-icon arrow-left-long-blue right-blue"></span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-open-roles w-full md:w-1/1 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-open-roles-inner">
              <div class="img-div flex items-center">
                <span class="rounded-full">
                  <%= image_pack_tag "icons/custom/user-profile-icon.svg", class: "img-fluid object-contain" %>
                </span>
              </div>
              <div class="right-title-div">
                <h4>Executive Technical Director</h4>
                <div class="text-div">
                  <p>At vero eos et accusamus et iusto odio dignissi ducimus qui blanditiis tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                </div>
                <div class="bottom-or-div">
                  <div class="bottom-or-left-div">
                    <p> <span class="icon-span"> <i class="bg-custom-icon map-pin-icon"></i> </span> <span class="txt"> Brooklyn Center, MN </span></p>
                  </div>
                  <div class="bottom-or-right-div">
                    <a href="#" class="btn-primary-link link link-read btn-primary-link-arrow">Read More <span class="bg-custom-icon arrow-left-long-blue right-blue"></span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-open-roles w-full md:w-1/1 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-open-roles-inner">
              <div class="img-div flex items-center">
                <span class="rounded-full">
                  <%= image_pack_tag "icons/custom/user-profile-icon.svg", class: "img-fluid object-contain" %>
                </span>
              </div>
              <div class="right-title-div">
                <h4>Junior Accountant</h4>
                <div class="text-div">
                  <p>At vero eos et accusamus et iusto odio dignissi ducimus qui blanditiis tium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                </div>
                <div class="bottom-or-div">
                  <div class="bottom-or-left-div">
                    <p> <span class="icon-span"> <i class="bg-custom-icon map-pin-icon"></i> </span> <span class="txt"> Brooklyn Center, MN </span></p>
                  </div>
                  <div class="bottom-or-right-div">
                    <a href="#" class="btn-primary-link link link-read btn-primary-link-arrow">Read More <span class="bg-custom-icon arrow-left-long-blue right-blue"></span> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="get-in-touch-section">
    <div class="get-in-touch-div">

      <div class="get-in-touch-row">
        
        <div class="get-in-touch-left"> 
          
          <div class="get-form-main-root blue-dark-root">
            <div class="get-form-main-inner">

              <div class="header-txt-div">
                <h1>Get in Touch</h1>
              </div>

              <div class="form-div">
                <div class="row flex flex-wrap -mx-6">

                  <div class="form-col w-full md:w-1/1 lg:w-1/2 px-6 mb-8">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="text" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">First Name</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/2 px-6 mb-8">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="text" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">Last Name</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/2 px-6 mb-8">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="text" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">Phone Number</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/2 px-6 mb-8">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="email" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">Email Address</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/1 px-6 mb-12">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="text" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">Position Applying For</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="upload-root-div w-full md:w-1/1 lg:w-1/1 px-6 mb-8">
                    
                    <div class="upload-box-div">
                      <label for="upload-img-label-01" class="upload-box-row">
                      
                        <%= image_pack_tag "icons/custom/img-blank-icon.png", class: "img-fluid object-contain" %>
                        
                        <p>Upload Your <b>Resume</b></p>
                        
                        <span class="rounded-span">Select an image</span>
                        
                      </label>
                      <input type="file" id="upload-img-label-01" class="hidden">
                    </div>

                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/1 px-6 mb-12">
                    <div class="input-box-effect">
                      <label class="input-box-label">
                        <input type="text" class="form-input" placeholder="&nbsp;">
                        <span class="label-text">Additional Comments</span>
                        <span class="border"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-col w-full md:w-1/1 lg:w-1/1 px-6 mb-2">
                    <div class="btn-bottom-left-div flex flex-wrap items-center">
                      <button class="btn btn-secondary btn-submit min-h48">
                        Submit <span class="bg-custom-icon arrow-left-long-blue transform-none ml-3"></span>
                      </button>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="get-in-touch-right"> 
          <div class="map-div-root">

            <div class="map-card-box">
              <div class="map-card-box-inner">
                <h4>Our Office</h4>
                <p>6200 Shingle Creek Pkwy, Suite 400  
                  Brooklyn Center, MN 55430</p>
              </div>
            </div>

            <div class="map-div-frame">
              <div class="custom-outside-map">
                <div class='post-map custom-map-canvas'>
                  <div class='map' id='map-post-canvas'></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7vTZYfyF24IZWM3_7DgoYeluyfZ3-a-U&callback=initMap"></script>
