  <div class="main-middle-area main-height-between">
    <section class="jd-banner-section responsive-padding-top" id="main-blog-section">
      <div class="jd-banner-div">
      </div>
    </section>

    <section class="job-desc-content-section">
      <div class="container container-1170 px-4 mx-auto px-24-xs">
        <div class="row flex flex-wrap">
          <div class="w-full lg:w-1/1">

            <div class="job-desc-content-div bg-white rounded-2xl">
              <div class="job-desc-content-root">

                <div class="job-desc-top-div flex flex-wrap justify-between">
                  <div class="btn-div left-btn-jd-btn-col flex flex-wrap">
                    <%= link_to careers_path, class: "btn-primary-link btn-primary-back-all" do %>
                      <span class="bg-custom-icon arrow-left-long-blue"></span>
                      Back to All News
                    <% end %>
                  </div>
                  <div class="btn-div right-btn-jd-btn-col flex flex-wrap">
                    <% if @position.url.present? %>
                      <%= link_to "Apply Now", @position.url, class: "btn btn-primary btn-primary-big" %>
                    <% else %>
                      <%= mail_to @position.email, "Apply Now", class: "btn btn-primary btn-primary-big" %>
                    <% end %>
                  </div>
                </div>

                <div class="job-desc-body-div">

                  <div class="title-heading-icon-div flex flex-wrap items-center md:mb-8 lg:mb-10 mb-5">
                    <div class="img-div">
                      <span class="rounded-full">
                        <%= image_pack_tag "icons/custom/user-profile-white-icon.svg", class: "img-fluid object-contain" %>
                      </span>
                    </div>
                    <div class="right-title-div">
                      <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-color01"><%= @position.title %></h2>
                    </div>
                  </div>

                  <%= raw @position.content %>                  

                  <div class="btn-div flex flex-wrap md:mb-4 lg:mb-7 mb-4 mt-4 lg:mt-7">
                    <% if @position.url.present? %>
                      <%= link_to "Apply Now", @position.url, class: "btn btn-primary btn-primary-big" %>
                    <% else %>
                      <%= mail_to @position.email, "Apply Now", class: "btn btn-primary btn-primary-big" %>
                    <% end %>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <%= render "openings" %>
  </div>
