  <footer>
    <div class="footer-div">
      <div class="container container-1170 px-3 mx-auto px-24-xs">
        <div class="row">
          <div class="w-full lg:w-1/1">

            <div class="footer-top-div">
              <div class="flex flex-wrap -mx-3">
                <div class="footer-top-left-justify w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
                  <div class="img-footer-logo-div">
                    <a href="#" class="footer-logo-link">
                      <%= image_pack_tag "logo-white.svg", class: "object-fit img-footer-logo" %>
                    </a>
                  </div>
                </div>
                <div class="footer-top-right-justify w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
                  <div class="get-quote-footer-div">
                    <div class="get-quote-footer-top-div">
                      <div class="link-div">
                        <a href="tel:8443363365" class="btn btn-secondary-link">(844) 336-3365</a>
                      </div>
                      <div class="btn-div">
                        <a href="get-a-quote.html" class="btn btn-secondary">Get a quote</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer-middle-div">
              <div class="flex flex-wrap -mx-3">
                
                <div class="footer-middle-box w-24 w-full md:w-1/5 lg:w-1/5 px-3 mb-6">             
                  <div class="footer-col-div">
                    <div id="footer-list-01" class="collapsable collapsable-slide ca-collapsed">
                      <h5 class="ca-control"> <a href="#">Products <span class="display-none bg-custom-icon down-arrow-icon"></span> </a> </h5>
                      <div class="ca-box">
                        <ul class="list-ul">
                          <li><%= link_to "Vehicle Refinance", auto_refinance_path, class: "footer-link" %></li>
                          <li><%= link_to "Lease Purchase", auto_lease_purchase_path, class: "footer-link" %></li>
                          <li><%= link_to "Motorcycle Refinance", motorcycle_refinance_path, class: "footer-link" %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="footer-middle-box w-24 w-full md:w-1/5 lg:w-1/5 px-3 mb-6">             
                  <div class="footer-col-div">
                    <div id="footer-list-01" class="collapsable collapsable-slide ca-collapsed">
                      <h5 class="ca-control"> <a href="#">Resources<span class="display-none bg-custom-icon down-arrow-icon"></span> </a> </h5>
                      <div class="ca-box">
                        <ul class="list-ul">
                          <li><%= link_to "FAQ", faq_path, class: "footer-link" %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="footer-middle-box w-36 w-full md:w-1/4 lg:w-1/5 px-3 mb-6">             
                  <div class="footer-col-div">
                    <div id="footer-list-01" class="collapsable collapsable-slide ca-collapsed">
                      <h5 class="ca-control"> <a href="#">Company <span class="display-none bg-custom-icon down-arrow-icon"></span> </a> </h5>
                      <div class="ca-box">
                        <ul class="list-ul list-ul-50">
                          <li><%= link_to "Why Auto Approve", why_auto_approve_path, class: "footer-link" %></li>
                          <li><%= link_to "Contact Us", contact_us_path, class: "footer-link" %></li>
                          <li><%= link_to "Privacy Policy", legal_stuff_path, class: "footer-link" %></li>
                          <li><%= link_to "Join the Team", careers_path, class: "footer-link" %></li>
                          <li><%= link_to "Terms Of Service", terms_of_service_path, class: "footer-link" %></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="footer-bottom-div">
              <div class="flex flex-wrap -mx-3">
                <div class="footer-bottom-left-justify w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
                  
                  <div class="newsletter-box-group">
                    <div class="input-group-div">
                      <input type="text" class="form-control" placeholder="Sign up for our newsletter" />
                      <button class="btn-submit-arrow"> <span class="bg-custom-icon arrow-right-long"></span> </button>
                    </div>
                  </div>
                  
                </div>
                <div class="footer-bottom-right-justify w-full md:w-1/2 lg:w-1/2 px-3 mb-6">

                  <div class="social-media-div">
                    <ul class="social-media-ul">
                      <li>
                        <a href="https://www.facebook.com/autoapprovellc/" class="social-link">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/AutoApproveRefi" class="social-link">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/autoapprove/" class="social-link">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.pinterest.com/autoapprove/" class="social-link">
                          <i class="fab fa-pinterest"></i>
                        </a>
                      </li>
                    </ul>
  
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>
