<section class="customers-reviews-section py-20 xl:bg-contain bg-top bg-no-repeat">
  <div class="container container-1170 px-4 mx-auto px-24-xs">

    <div class="heading-div mx-auto mb-16 w-full text-center">
      <h2>Real Customers. Real Reviews. <%= image_pack_tag "icons/custom/smile-icon.svg", class: "img-fluid img-icon" %></h2>
    </div>

    <div class="owl-slider-main-slider mb-12">
      <div class="owl-carousel owl-theme customers-customers-owl-div" id="customers-customers-owl">
        <% recent_reviews(9).each do |review| %>
          <div class="item">
            <div class="card-custom-customers-reviews w-full mb-6">
              <div class="card-custom-customers-reviews-inner">
                <div class="card-custom-top">
                  <div class="left-text-div">
                    <div class="img-div flex">
                      <%= image_pack_tag "icons/custom/quote-left-icon.svg", class: "object-contain img-quote" %>
                    </div>
                    <div class="left-user-div">
                      <h5><%= review.name %></h5>
                      <p><%= review.rating %></p>
                    </div>
                  </div>
                  <div class="img-right-div flex">
                    <%= cl_image_tag review.review_site.logo, class: "object-contain img-fluid" %>
                  </div>
                </div>
                
                <div class="text-desc-div">
                  <p><%= review.content %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>