<section class="custom-section-03 py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto ">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>Why Auto Approve?</h2>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-01.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>It’s time to make a change.</h4>
                  <p>Interest rates today are historically low – most people are paying too much on their auto loan. Now is the time to refinance and lower your monthly payment. We’ll make it happen.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-02.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>Our customers love us.</h4>
                  <p>With an A+ rating from the Better Business Bureau and a 96% would-recommend rating on LendingTree, you can refinance with us with confidence.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-03.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>The personalized service you deserve.</h4>
                  <p>At Auto Approve, you get the service that works for you. Want a human? We’re real people and ready to chat. Hate the phone? That’s cool too. Do everything online, no humans required.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-04.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>The deal that’s right for you.</h4>
                  <p>We’ll work to personally make sure you get the best deal for you. We’re your advocate, getting lenders to compete to find a great fit for your needs. And then we do the paperwork to make it happen. (Yes, we even handle the DMV.)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-05.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>No mark-ups. Ever.</h4>
                  <p>Unlike our competitors, we never mark up the rate you pay. Some companies will give you a higher rate than the bank actually offers and pocket the difference. With Auto Approve, your savings are passed on to you directly.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-approve w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-approve-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/icon-06.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>More money in your pocket.</h4>
                  <p>The most important thing we do is? We lower your monthly payments. Refinance with Auto Approve, you’ll have more cash to spend on the things you love. Because, in the end, our mission is more money for what matters to you.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
