<div class="main-middle-area main-height-between">
    
    <section class="main-half-banner-section bg-none responsive-padding-top" id="main-banner-section">
      <div class="half-banner-div auto-refinance-banner-img-01">

        <div class="content-banner-root">
          <div class="container px-4">
            <div class="row flex flex-wrap">
              <div class="w-full lg:w-1/2">
              
                <div class="content-banner">
                  <div class="text-content">
                    <h4>AUTO REFINANCE</h4>
                    <h1>Lower your monthly payments. <span class="block">We make it easy.</span></h1>
                    <div class="btn-div">
                      <%= link_to "Get your quote in minutes", quote_path, class: "btn btn-primary btn-primary-big" %>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="saving-today-section">
      <div class="container container-1400 px-4 mx-auto">

        <div class="saving-today-div saving-pattern-div01">
          <div class="saving-today-root">

            <div class="heading-div mx-auto mb-6 text-center">
              <h2>Most people are overpaying on their car loan. (Seriously!)</h2>
            </div>

            <div class="center-container">
              <div class="flex flex-wrap -mx-3">

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="title-div">
                        <h3>What is auto refinancing? </h3>
                      </div>
                      <div class="img-div flex items-center mb-7">
                        <%= image_pack_tag "icons/saving/auto-icon01.png", class: "img-fluid object-contain" %>
                      </div>
                      <div class="text-div">
                        <p>Refinancing is when you take out a new loan to cover your existing loan on your car. You pay off the old loan and start paying off the new loan at a lower rate.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="text-div-row">
                        <div class="title-div">
                          <h3>Why refinance? </h3>
                        </div>
                        <div class="img-div flex items-center mb-7">
                          <%= image_pack_tag "icons/saving/auto-icon02.png", class: "img-fluid object-contain" %>
                        </div>
                        <div class="text-div">
                          <p>There are plenty of good reasons! Maybe you got a bad rate the first time around, your credit got better, or your family situation has changed. Interest rates today are historically low, so even if none of these apply, you may be eligible for a lower rate.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="text-div-row">
                        <div class="title-div">
                          <h3>And in the end… </h3>
                        </div>
                        <div class="img-div flex items-center mb-7">
                          <%= image_pack_tag "icons/saving/auto-icon03.png", class: "img-fluid object-contain" %>
                        </div>
                        <div class="text-div">
                          <p>When you refinance to the lower rate you qualify for, you pay less monthly and overall. Sounds pretty sweet, right? It is – and it means more money in your pocket to spend however you want.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          
            <div class="btn-div flex justify-center text-center">
              <%= link_to "Start saving today", quote_path, class: "btn btn-primary btn-primary-big" %>
            </div>

          </div>
        </div>

      </div>
    </section>

    <section class="vehicle-protection-plan-section py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto px-22-xs">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>Add A Vehicle Protection Plan </h2>
          <p>When you refinance to the lower rate you qualify for, you pay less monthly and overall. Sounds pretty sweet, right? It is – and it means more money in your pocket to spend however you want.</p>
        </div>

        <div class="flex flex-wrap -mx-3">

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>Your Choice of Mechanic </h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-01.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>When you refinance to the lower rate you qualify for, you pay less monthly and overall. Sounds pretty sweet, right? It is – and it means more money in your pocket to spend however you want.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>24/7 roadside assistance </h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-02.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>Wherever you are, at any hour of any day, if you need us, we’ll be there. (As long as what you need is roadside assistance.)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>Rental cars reimbursed</h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-03.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>Life doesn’t stop because your car’s in the shop. We’ll reimburse you for your rental car up to $50 per day.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>Courtesy towing </h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-04.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>Life doesn’t stop because your car’s in the shop. We’ll reimburse you for your rental car up to $50 per day.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>Save Thousands</h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-05.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>Parts can break down without warning, costing you thousands of dollars. An extended auto warranty means you’re protected against surprises. </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-vehicle-plan w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-vehicle-plan-inner">
              <div class="p-4">
                <div class="title-div">
                  <h3>Flexible financing made easy</h3>
                </div>
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "icons/protection-plan-icons/v-icon-06.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <p>And best of all, your extended auto warranty can be built into your loan, so all you have to do is make one easy monthly payment.</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="saving-today-section saving-today-section-area-02">
      <div class="container container-1400 px-4 mx-auto">

        <div class="saving-today-div remove-pattern-div">
          <div class="saving-today-root">

            <div class="heading-div mx-auto mb-6 text-center">
              <h2>Plus GAP to fill the gaps.</h2>
              <p>Guaranteed Asset Protection (GAP) usually comes with your loan. When you refinance, we’ll work with you to make sure your new loan comes with the GAP insurance that makes sense for you.</p>
            </div>

            <div class="center-container">
              <div class="flex flex-wrap -mx-3">

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="title-div">
                        <h3>Protect against depreciation </h3>
                      </div>
                      <div class="img-div flex items-center mb-7">
                        <%= image_pack_tag "icons/saving/auto-icon05.png", class: "img-fluid object-contain" %>
                      </div>
                      <div class="text-div">
                        <p>The purpose of GAP insurance is to cover the difference between what you owe on your loan and what your car is really worth. Since cars depreciate from the moment they’re purchased, GAP protects you from negative equity.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="text-div-row">
                        <div class="title-div">
                          <h3>There when you need it most </h3>
                        </div>
                        <div class="img-div flex items-center mb-7">
                          <%= image_pack_tag "icons/saving/auto-icon06.png", class: "img-fluid object-contain" %>
                        </div>
                        <div class="text-div">
                          <p>GAP swoops in when bad things happen. If your car is totalled or stolen, your Comprehensive and Collision coverage factor in depreciation to what they’ll pay out, so you end up owing the difference between the car’s worth and your loan amount – unless you have GAP to pay that difference.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card-custom-saving-today w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
                  <div class="card-custom-saving-today-inner">
                    <div class="text-div-row">
                      <div class="text-div-row">
                        <div class="title-div">
                          <h3>Just a few dollars a month</h3>
                        </div>
                        <div class="img-div flex items-center mb-7">
                          <%= image_pack_tag "icons/saving/auto-icon07.png", class: "img-fluid object-contain" %>
                        </div>
                        <div class="text-div">
                          <p>The best news is, most GAP coverage is less than $14 a month, so as coverage goes, it offers a pretty great return on investment if you ever actually need it.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          
          </div>
        </div>

      </div>
    </section>

    <%= render "shared/why" %>

    <section class="rpsm-section py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto px-24-xs">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>The right product to save <span class="block">you money.</span> </h2>
          <p>From Auto Refinance to Vehicle Protection plans Auto Approve is with you every step of the way.</p>
        </div>

        <div class="flex flex-wrap -mx-3">

          <div class="card-custom-rpsm w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-rpsm-inner">
              <div class="title-div">
                <div class="text-div">
                  <div class="content-height-div">
                    <h3>Auto Lease Purchase </h3>
                    <p>Ready to own your car? Our auto lease purchasing options make it possible – and affordable.</p>
                  </div>
                  <div class="link-div">
                    <%= link_to "Learn More", auto_lease_purchase_path, class: :link %>
                  </div>
                </div>
              </div>
              <div class="img-div flex items-center">
                <%= image_pack_tag "character/character-image-pro-02.svg", class: "img-fluid object-contain" %>
              </div>
            </div>
          </div>

          <div class="card-custom-rpsm w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
            <div class="card-custom-rpsm-inner">
              <div class="title-div">
                <div class="text-div">
                  <div class="content-height-div">
                    <h3>Motorcycle Refinance </h3>
                    <p>Yep, we can refinance your hog too. Or your RV, ATV, or boat. (And if you have all four, be our friend?)</p>
                  </div>
                  
                  <div class="link-div">
                    <%= link_to "Learn More", motorcycle_refinance_path, class: :link %>
                  </div>
                </div>
              </div>
              <div class="img-div flex items-center">
                <%= image_pack_tag "character/character-image-pro-03.svg", class: "img-fluid object-contain" %>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


    <%= render "shared/reviews" %>
    <%= render "shared/clients" %>
  </div>
