  
    <section class="main-banner-section responsive-padding-top" id="main-banner-section">
      <div class="banner-div">

        <div class="content-banner-root">
          <div class="container px-2">
            <div class="row">
              <div class="w-full lg:w-1/1">
              
                <div class="content-banner">
                  <div class="text-content animation-up-fade">
                    <h4>A Better Way To Refinance Your Automobile</h4>
                    <h1>Less Paperwork. Less Time. <span class="span-color">Lower Payments.</span></h1>
                    <p>Rates as low as 2.25% APR*</p>
                    <div class="btn-div">
                      <%= link_to "Get your quote in minutes", quote_path, class: "btn btn-primary btn-primary-big" %>
                    </div>
                  </div>
                </div>
                
              </div>  
            </div>        
          </div>
        </div>

      </div>
    </section>

    <section class="custom-section-01 py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto px-24-xs">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>We Make Refinancing Painless. <span class="block">Just 3 Easy Steps.</span> </h2>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">

          <div class="card-custom-painless w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-painless-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "character/character-image-01.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>It starts with a quote</h4>
                  <p>(SSN not required)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-painless w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-painless-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "character/character-image-02.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>We’ll work with banks and credit unions to get you the best rate </h4>
                  <p>(and handle the paperwork)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-custom-painless w-full md:w-1/3 lg:w-1/3 px-3 mb-6">
            <div class="card-custom-painless-inner">
              <div class="p-4">
                <div class="img-div flex items-center mb-7">
                  <%= image_pack_tag "character/character-image-03.svg", class: "img-fluid object-contain" %>
                </div>
                <div class="text-div">
                  <h4>Easy as that, you’re paying less on your loan, with more to spend on the things that matter</h4>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="btn-div flex justify-center text-center">
          <%= link_to "Start saving today", quote_path, class: "btn btn-primary btn-primary-big" %>
        </div>
      </div>
    </section>


    <section class="calculate-custom-section py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto px-24-xs">
        <div class="calculate-custom-div">
          <div class="center-container">
            <div class="heading-div mb-5">
              <h2>Calculate your savings</h2>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">

              <div class="card-custom-calculate w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
                <div class="card-custom-calculate-inner">
                  
                  <div class="form-calculate-div">
                    <div class="form-calculate-box">
                      <p>Loan Amount</p>  
                      <div class="text-number"> <h3><sup>$</sup> <span class="text" id="demo"></span> </h3> </div>
                      
                      <div class="slider-box slider-box-custom">

                        <input type="range" min="5000" max="85000" value="35000" class="range-slider-input" id="myRange" onchange="current_rate_cal()"/>

                        <div class="range-slider-txt-row">
                          <span class="range-slider-left-txt">$5,000</span>
                          <span class="range-slider-right-txt">$85,000</span>
                        </div>
                      </div>
                    </div>

                    <div class="form-calculate-box">
                      <p>Loan Term</p>  
                      <div class="text-number"> <h3> <span class="txt" id="month_demo"></span> <span class="text-small">months</span> </h3> </div>
                      
                      <div class="slider-box slider-box-custom">
                        <input type="range" min="48" max="84" step="12" class="range-slider-input" id="month_range" onchange="current_rate_cal()">
                        <div class="range-slider-txt-row">
                          <span class="range-slider-left-txt">48 months</span>
                          <span class="range-slider-right-txt">84 months</span>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-wrap -mx-1 mb-6">
                      
                      <div class="form-col w-full md:w-1/2 lg:w-1/2 sm:1/2 xs-6 px-1 mb-1">
                        <div class="form-group pr-4">
                          <label class="block text-color mb-3" for="">Current Rate (APR)</label>
                          <div class="form-control-row">
                            <input class="form-control appearance-none w-full rounded outline-none" type="text" name="field-name" placeholder="" value="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" onkeyup="current_rate_cal()" id="rate1">
							<input type="hidden" id="interest1">
                            <div class="text-right-per absolute inset-y-0 right-0 pr-4 flex items-center pointer-events-none">%</div>
                          </div>
                        </div>
                      </div>    

                      <div class="form-col w-full md:w-1/2 lg:w-1/2 xs-6 px-1 mb-1">
                        <div class="form-group pl-4">
                          <label class="block text-color mb-3" for="">New Rate (APR)</label>
                          <div class="form-control-row">
                            <input class="form-control appearance-none w-full rounded outline-none" type="text" name="field-name" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" placeholder="" value="10" onkeyup="new_rate_cal()" id="rate2">
							<input type="hidden" id="interest2">
                            <div class="text-right-per absolute inset-y-0 right-0 pr-4 flex items-center pointer-events-none">%</div>
                          </div>
                        </div>
                      </div>    

                    </div>
                  </div>
                  
                </div>
              </div>

              <div class="card-custom-save w-full md:w-1/2 lg:w-1/2 px-3 mb-6">
                <div class="card-custom-save-inner">
                  <div class="card-white-rounded">
                    <p>You could save</p>
                    <h2 class="big-text">$<span id="saving"></span></h2>
                    <div class="text-color-div">
                      <p>In Interest</p>
                    </div>
                  </div>
                  <div class="flex btn-up-div">
                    <%= link_to "Start saving today", quote_path, class: "btn btn-primary btn-big" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="custom-section-02 py-20 xl:bg-contain bg-top bg-no-repeat">
      <div class="container container-1170 px-4 mx-auto px-22-xs">

        <div class="heading-div mx-auto mb-12 text-center">
          <h2>The right product to save <span class="block"> you money.</span> </h2>
          <p>From Auto Refinance to Vehicle Protection plans Auto Approve is with you every step of the way.</p>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
          <%= render "shared/products/auto_refinance" %>
          <%= render "shared/products/auto_lease_purchase" %>
          <%= render "shared/products/motorcycle_refinance" %>
        </div>

      </div>
    </section>

    <%= render "shared/why" %>
    <%= render "shared/reviews" %>
    <%= render "shared/clients" %>

<%= content_for :page_scripts do %>
  <%= javascript_pack_tag "page_scripts/calculate-savings", 'data-turbolinks-track': "reload" %>
<% end %>
