<p class="text-2xl mb-4 tracking-wide">Path</p>
<div class="flex md:mt-0 mt-10">
  <div class="md:w-1/2 w-full md:mb-0 mb-1 md:mr-6">
    <%= f.full_error :path %> 
    <%= f.input_field :path,
                      class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-10 focus:text-black",
                      placeholder: "Enter Path" %>
  </div>
</div>

<p class="text-2xl mb-4 tracking-wide">Logo</p>
<div class="flex md:mt-0 mt-10">
  <div class="md:w-1/2 w-full md:mb-0 mb-1 md:mr-6">
    <%= f.full_error :logo %> 
    <%= f.input_field :logo,
                      as: :file,
                      class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-10 focus:text-black",
                      placeholder: "Select Logo" %>
    <% if f.object.logo.present? %>
      <div class="mb-4">
        <%= cl_image_tag f.object.logo %>
      </div>
    <% end %>
  </div>
</div>

<p class="text-2xl mb-4 tracking-wide">Source</p>
<div class="flex md:mt-0 mt-10">
  <div class="md:w-1/2 w-full md:mb-0 mb-1 md:mr-6">
    <%= f.full_error :source %> 
    <%= f.input_field :source,
                      class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-10 focus:text-black",
                      placeholder: "Website Lead" %>
  </div>
</div>
