
<div class="w-full my-5">
  <label>
    <%= link_to "Landinds", admin_landings_path, class: "text-blue font-semibold" %>
    <span class="mx-1">/</span>
    <span>New Landing</span>
  </label>
</div>
    <%= simple_form_for @landing, url: admin_landings_path do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="flex flex-wrap md:mt-5 md:mb-12 items-center">
        <div class="md:w-1/2 w-full">
          <h1 class="md:text-5xl text-xl">New Landing</h1>
        </div>

        <div class="md:w-1/2 w-full flex items-center justify-end">
          <label class="switch">
            <%= f.input :state, as: :integer do %>
              <%= f.check_box :state, {id: "live_check"}, "active", "pending" %>
              <span class="slider round"></span>
            <% end %>
          </label>
          <span class="mx-3 live-text cool-transition">Live</span>
          <!--
          <a
            href="#"
            class="border-blue border border-solid px-6 py-2 rounded-full text-blue mx-4"
            >#Preview</a
          >
          -->
          <%= f.submit "Create", class: "bg-custom-color5 px-6 py-2 rounded-full text-white" %>
        </div>
      </div>
      <p class="text-2xl mb-4 tracking-wide">Theme</p>
      <div class="flex md:flex-nowrap flex-wrap items-center justify-between mb-5">
        <div class="md:w-1/2 w-full md:mb-0 mb-1 md:mr-6">
          <%= f.input_field :theme,
                            class: "w-full px-5 py-3 text-xl outline-none focus:outline-none border-custom-color1 border border-solid rounded-lg mb-5 focus:text-black",
                            collection: Theme.available, id: "theme_select" %>
        </div>
      </div>

      <%= render "form", f: f %>
      <div id="fields"></div>
      <%= f.simple_fields_for :config do |sf| %>
        <% @landing.config.each do |field, val| %>
          <%= sf.input field.to_sym, input_html: { value: val } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
