<section class="lg:ml-80 ml-0 bg-custom-color3 h-screen lg:px-16 px-4 <%= yield (:section_class) %>" id="dashboard-content">
  <div class="w-full">
  <label>
      <%= link_to "Landing Pages", admin_landings_path, class: "text-blue font-semibold" %>
      <span class="mx-1 text-lg text-blue font-semibold">/</span>
        <span>new landing page</span>
    </label>
    <h2>Add Landing</h2>
    <%= simple_form_for @landing, url: admin_landings_path do |f| %>
      <%= f.input :theme, collection: Theme.available, input_html: { id: "theme_select" } %>
      <%= render "form", f: f %>
      <div id="fields"></div>
      <%= f.submit "Create" %>
    <% end %>

  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  $('#theme_select').on('change', function(event) {
    const theme = $(event.target).find('option:selected').text()
    $.get(`/admin/themes/${theme}`).then(function(result) {
      console.log(result)
    })
  })
})
</script>