<h1>Details</h1>
<table>
  <tr>
    <td>Theme</td><td><%= image_tag @landing.theme_instance.cover %></td>
  </tr>
  <tr>
    <td>Path</td><td><%= @landing.path %></td>
  </tr>
  <tr>
    <td>State</td><td><%= @landing.state %></td>
  </tr>
  <% @landing.config.each do |field, value| %>
    <tr>
      <td><%= field %></td><td><%= value %></td>
    </tr>
  <% end %>
</table>
