<div
  class="fixed h-screen bg-white lg:w-80 w-full lg:left-0 -left-full flex cool-transition z-50 md:overflow-y-hidden overflow-y-scroll"
  id="dashboard-sidebar"
>
  <div class="container">
    <div class="lg:hidden block w-full text-right my-6 px-4">
      <button id="sidebar-close" class="bg-transparent outline-none shadow-none focus:outline-none focus:shadow-none border-none border-0">
        <span class="close-line-1 bg-blue h-1 w-8 mb-1 block"></span>
        <span class="close-line-2 bg-blue h-1 w-8 mb-1 block"></span>
      </button>
    </div>
    <div class="w-3/4 mx-auto md:my-16 my-12">
      <%= image_pack_tag "logo.png" %>
    </div>
    <ul class="flex flex-wrap">
      <li class="w-full px-16 flex items-center pb-2 mb-8">
        <%= image_pack_tag "dashboard/dashboard.svg", class: "-ml-4", width: "25" %>
        <p class="text-blue capitalize text-lg ml-6">Dashboard</p>
      </li>
      <%= sidebar_link(admin_landings_path, "Landing Pages", "dashboard/dash-landing.svg") %>
      <%= sidebar_link("#", "Resources", "dashboard/dash-resources.svg") %>
      <%= sidebar_link(admin_reviews_path, "Reviews", "dashboard/dash-reviews.svg") %>
      <%= sidebar_link(admin_faq_index_path, "FAQ", "dashboard/dash-faq.svg") %>
      <%= sidebar_link(admin_positions_path, "Jobs", "dashboard/dash-jobs.svg") %>
      <%= sidebar_link("#", "users", "dashboard/dash-users.svg") %>
    </ul>
  </div>
</div>