<!DOCTYPE html>
<html>
  <head>
    <title>AutoApprove</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Auto Approve</title>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport' />
    <%= stylesheet_pack_tag "admin", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "admin", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%= render 'admin/shared/sidebar' %>
    <section class="lg:ml-80 ml-0 bg-custom-color3 h-screen lg:px-16 px-4 xl:py-8 <%= yield (:section_class) %> cool-transition" id="dashboard-content">
      <%= render 'admin/shared/mobile_sidebar_toggle' if action_name != "index" %>
      <%= yield %>
    </section>
    <%= yield :end_page_scripts %>
  </body>
</html>
